
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background: #550000;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .inviting {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
  }
  .fontRaleway {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  
  .inviting span {
    font-weight: 700;
    color: #4d0a75;
    font-size: 28px;
  }
  
  .weddingCard {
    text-align: center;
    padding: 10px 10px;
  }
  
  .weddingCard h2 {
    font-family: "Pacifico", cursive;
  
    margin: 0;
    font-size: 35px;
    color: #4d0a75;
  }
  
  .weddingCard h3 {
    font-family: "Pacifico", cursive;
  
    font-size: 70px;
    margin: 0;
    color: #a92e7c;
  }
  .wfont {
    font-family: "Pacifico", cursive;
  }
  .weddingCard h4 {
    margin: 0;
    font-weight: 400;
    color: #c5c5c5;
  }
  
  .weddingCard p {
    margin: 15px 0 0;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255 255 255 / 70%);
  }
  
  .weddingCard {
    text-align: center;
    /* padding: 70px 10px 40px; */
    /* border: 2px dashed #b1aeae; */
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 100%;
  }
  
  .Zul_container {
    
    padding: 0;
    background-size: contain;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .inviting {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin: 0 0 20px;
    color: #873926;
    padding: 0 10px;
  }
  
  /* .weddingCard::before {
      background: url(../images/vector-1.png);
      width: 150px;
      height: 141px;
      position: absolute;
      content: "";
      left: -18px;
      top: -16px;
      background-size: 150px;
      z-index: -1;
  }
  
  .weddingCard::after {
      background: url(../images/vector-4.png);
      width: 128px;
      height: 143px;
      position: absolute;
      content: "";
      right: -18px;
      top: auto;
      background-size: 150px;
      z-index: -1;
      bottom: 0;
      opacity: 0.5;
  } */
  
  .row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
  }
  
  .row [class*="col-"] {
    padding: 0 15px;
  }
  .row .col-6 {
    width: 50%;
  }
  .row .col-md-3 {
    width: 25%;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 0 15px; */
  }
  .no-padding {
    padding: 0 !important;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .countdown-container {
    padding: 20px 15px 40px;
  }
  .headingBox h2.wfont {
    color: #d58282;
    text-align: center;
    margin: 0 0 5px;
    font-size: 24px;
    padding: 0;
    line-height: 1.4;
  }
  .countdown .headingBox {
    text-align: center;
    margin: 0 0 40px;
  }
  .headingBox p {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
    line-height: 1.5;
  }
  footer {
    background: #181818;
    text-align: center;
    padding: 15px 0;
  }
  span.heart {
    color: #ff544b;
    animation: pulse 2s infinite;
    display: inline-block;
    margin: 0 6px;
  }
  
  @-webkit-keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  footer p {
    margin: 0;
    color: rgb(255 255 255);
    font-size: 13px;
  }
  .text-center {
    text-align: center;
  }
  .venue {
    padding: 40px 0 10px;
  }
  .weddingCard p.fatherDetail {
    margin: 0 0 15px;
  }
  .topFlower {
    text-align: center;
  }
  .topFlower img {
    max-width: 100%;
    margin: 0 auto;
  }
  .langTraslateBtn {
    text-align: center;
    margin-bottom: 30px;
  }
  .langTraslateBtn a {
    display: inline-block;
    background: #f9f871;
    padding: 10px 14px;
    border-radius: 3px;
    text-decoration: none;
    color: #040001;
    font-size: 14px;
  }
  h2.inthename {
    font-size: 25px;
    padding: 0 10px;
    text-align: center;
    color: #090173;
    /* text-transform: uppercase; */
  }
  .venueMap {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    line-height: 0;
  }
  .weddingCard h5 {
    color: #fff;
    font-size: 25px;
    margin: 0 0 15px;
    font-weight: 400;
    font-family: "Parisienne";
  }
  .text-left {
    text-align: left !important;
  }
  .chashmebarah {
    text-align: center;
    padding:  0 15px;
  }
  .chashmebarah .headingBox h2.wfont {
    margin-bottom: 11px;
  }
  .chashmebarah ul {
    margin: 0;
    padding: 0;
  }
  .chashmebarah ul li {
    list-style: none;
    color: #fff;
    margin-bottom: 9px;
    font-size: 14px;
    /* text-decoration: underline; */
  }
  .chashmebarah ul li span {
    display: inline-block;
    border-bottom: 1px solid;
    margin-bottom: 8px;
  }
  .chashmebarah .topRoundedCornor {
    padding-top: 70px;
  }
  .text-left {
    text-align: left !important;
  }
  .contactDetails ul li svg {
    fill: #873926;
    width: 20px;
    margin-right: 7px;
  }
  .contactDetails ul li {
    display: flex;
    padding: 0 15px;
  }
  .contactDetails ul li a {
    color: #873926;
  }
  .contactDetails ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  p.para {
    text-align: center;
    color: #cdcdcd;
    font-size: 18px;
    line-height: 25px;
    padding: 0 10px;
  }
  @media (max-width: 992px) {
    .row .col-6 {
      width: 100%;
    }
    .chashmebarah .text-right {
      text-align: left !important;
    }
  }
  
  img.bs-image {
    max-width: 100%;
    width: 400px;
    padding: 20px 40px 0;
    margin: 0 auto;
  }
  
  .p-0 {
    padding: 0 !important;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-15 {
    margin-bottom: 15px;
  }
  .pt-10 {
    padding-top: 10px;
  }
  .pt-15 {
    padding-top: 15px;
  }
  .pb-10 {
    padding-bottom: 10px;
  }
  .pb-15 {
    padding-bottom: 15px;
  }
  h4.childWish {
    text-align: center;
    color: #cdebd8;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 18px;
    padding: 0 15px;
    font-weight: 400;
  }
  
  .text {
    color: #bf9346 !important;
    text-shadow: none !important;
  }
  
  .full-image {
    max-width: 100%;
  }
  
  .topRoundedCornor {
    background: #fff;
    margin: 0 20px calc(-25vw - 1px);
    border-top-left-radius: 190px;
    border-top-right-radius: 190px;
    padding: 30px 5px 26vw;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
  }
  
  .no-lineheight {
    line-height: 0;
  }
  
  section.section {
    padding-top: 40px;
    /* border-bottom: 10px solid #008087; */
  }
  
  
  .ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  
  
  .ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }